.current {
    background-color: white;
}

body {
	color: #444;
	background-color: #ececec;
}

.content {
    background-color: white;
    box-shadow: 0 0 30px -10px;
}

hr.style13 {
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style13b {
	box-shadow: 0 -10px 10px -10px #8c8b8b inset;
}

a {
	color: #444;
}

a:visited, a:active {
	color: #444;
}

a:hover {
	background-color: #dddddd;
}

#search {
	background-color: white;
}

::-webkit-input-placeholder {
    color: #b3b3b3;
}
