.current {
    background-color: #29363d;
}

body {
	color: #bdbdbd;
	background-color: #282A2E;
}

.content {
    background-color: #29363d;
    box-shadow: 0 0 30px -10px;
}

hr.style13 {
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style13b {
	box-shadow: 0 -10px 10px -10px #8c8b8b inset;
}

a {
	color: #bdbdbd;
}

a:visited, a:active {
	color: #bdbdbd;
}

a:hover {
	background-color: #626e75;
}

#search {
	background-color: #29363d;
}

::-webkit-input-placeholder {
    color: #b3b3b3;
}

textarea, input, select {
	background-color: #282a2e;
    color: #bdbdbd;
    border: 1px solid;
    border-radius: 2px;
}

#waifu {
    left:         0;
    bottom:       0 !important;
    z-index:     -1;
    position: fixed;
}


.lillietalk {
	display: none;
}

#response {
	display: none !important;
}
