@import url('https://fonts.googleapis.com/css?family=Itim');

.current {
    top:                  15px;
    left:                 10px;
    width:               144px;
    height:              144px;
    padding:               0px;
    display:      inline-block;
    position:         absolute;
    overflow:           hidden;
    font-size:           small;
    text-align:         center;
    border-radius:      9999px;
    box-shadow: 0 0 58px -21px,
                0 4px #d0d0d0;
}

.current p {
    margin:     0 9px 0 9px;
    display:          block;
    text-align:      center;
}

.current hr {
    color:               #ccc;
    margin: 3px -15px 0 -15px;
    border:                 0;
    border-bottom:  1px solid;
}

.current a {
    display:    block;
    text-align: center;
}

body {
    margin:          0 auto;
    display:           grid;
    padding:         0 10px;
    font-size:         18px;
    max-width:        800px;
    line-height:        1.6;
    font-family: Sans-Serif;
}

h1, h2, h3 {
    font-family: 'Itim', cursive;
    line-height:             1.2;
}

.set {
    width:  100%;
    resize: none;
    height: 170px;
}

form.import {
    width:                    100%;
    display:                  grid;
    grid-row-gap:             10px;
    grid-column-gap:          15px;
    grid-template-columns: 1fr 4fr;
}

form.import input[type="submit"] {
    grid-column-start: 2;
}

form.import > label {
    text-align: right;
}

form.search {
    display:                        grid;
    grid-row-gap:                   10px;
    grid-column-gap:                20px;
    grid-template-columns: 1fr 40fr 20fr;
}

form.search > div:first-of-type {
    grid-column-start: span 3;
}

form.search > label {
    text-align: right;
}

form.search > input {
    grid-column-start: span 2;
}

form.search input[type="submit"] {
    grid-column-start: 2;
}

#waifu {
    left:         0;
    bottom:    36px;
    z-index:     -1;
    position: fixed;
}

.content {
    display:        grid;
    margin-top:     15px;
    margin-bottom:  20px;
    padding-bottom: 10px;
}

.nav {
    text-align:           center;
    font-family: 'Itim', cursive;
    font-variant:     small-caps;
}

hr.style13, hr.style13b {
    margin:    0;
    border:    0;
    height: 10px;
}

a {
    padding-left:     5px;
    padding-right:    5px;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    font-size:      1.6em;
    padding-left:    20px;
    padding-right:   20px;
}

.main {
    padding: 0 20px 0 20px;
}

#search {
    margin:                    0;
    border:                    0;
    padding:                   0;
    max-width:               75%;
    font-size:             1.8em;
    max-height:             34px;
    text-align:           center;
    font-family: 'Itim', cursive;
}

#search:focus {
    outline: none;
}

.description {
    word-break: break-word;
    line-height:     1.2em;
}

img.custom {
    max-width: 50%;
}

.page_select {
    text-align:           center;
    font-family: 'Itim', cursive;
}

.not-active {
   cursor:      default;
   pointer-events: none;
}

a.not-active {
    color: #AAA;
}

.controls {
    border:          1px solid;
    display:      inline-block;
    padding: 5px 10px 5px 10px;
    margin-top:           10px;
    box-shadow:  0 0 14px -5px;
    border-radius:         5px;
    margin-bottom:        10px;
}

hr.style13:last-of-type {
    margin-top: 10px;
}

.info {
    display: grid;
    margin-top: 10px;
    grid-column-start: span 4;
    margin-bottom: 10px;
    grid-template-columns: 2fr 8fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.info label {
    text-align:   right;
    font-weight:    900;
}

.something {
    display: inline-block;
}

.something a {
    display:               block;
    font-family: 'Itim', cursive;
}

.vr {
    width:             1px;
    margin:    0 5px 0 5px;
    background-color: #444;
}

.footer {
    display: inline-flex;
}

.something-bigger {
    display:  inline-flex;
    margin-left:     auto;
    margin-right:    auto;
}

.replay {
    border:  1px solid #e3e3e3;
    padding:              15px;
    border-radius:         5px;
    margin-bottom:        15px;
    box-shadow: 0 5px 0 0 #eee,
                0 0 30px -15px;
}

.replay p {
    margin: 0;
}

form.replay {
    margin-bottom: 20px;
}

form.replay input[name="link"] {
    width:  100%;
    padding: 1px;
}

form.replay textarea {
    width: 100%;
}

.error {
    color:       red;
    font-weight: 900;
}

.champ {
    margin:               10px;
    border:  1px solid #e3e3e3;
    padding:               5px;
    display:       inline-grid;
    overflow:           hidden;
	position:         relative;
    border-radius:         5px;
    box-shadow: 0 5px 0 0 #eee,
	            0 0 30px -15px;
}

.green {
    color: #0E0;
}

.red {
    color: #E00;
}

.cdata {
    display: inline;
}

.ctrip {
    font-weight: 900;
}

.champs {
    display:                          grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*------------------------------*/

input[type="submit"]:focus,
input[type="button"]:focus{
    outline: none;
}

input[type="submit"]:active,
input[type="button"]:active {
    color: rebeccapurple;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    color: #0069c5;
}

input[type="submit"], input[type="button"] {
    color:               inherit;
    height:                 48px;
    cursor:              pointer;
    border:            5px solid;
    font-size:             1.5em;
    background:      transparent;
    font-family: 'Itim', cursive;
    font-variant:     small-caps;
    border-radius:          10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

form input[type="submit"],
form input[type="button"] {
	width: 150px;
}

select[name="format"] {
    border: 3px solid;
    border-radius: 5px;
    width: 100px;
    background: transparent;
    color: inherit;
    height: 34px;
}

.set-info {
    display: grid;
    grid-template-columns: 1fr 30fr;
}

.set-info > h3, .set-info > div {
    grid-column-start: span 2;
	text-align: center;
}

.info > div {
	text-align: left;
}

.item {
    margin: 15px 0 15px 0;
}

.lillietalk {
    position: fixed;
	z-index: -1;
    left: 0;
    bottom: 0;
}

.lillietalk > input  {
    width: 250px;
    padding: 8px;
    font-size: 0.8em;
}

#response {
	z-index: 1;
    position: fixed;
    width: 200px;
    border: 1px solid;
    left: 176px;
    bottom: 150px;
    height: 110px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 58px -21px, 0 4px #d0d0d0;
    padding: 10px;
    display: inline-table;
    font-size: medium;
}

.elo {
    position: absolute;
    border: 1px solid;
    border-radius: 50px;
    right: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: sub;
    margin: 5px;
}

.elo > div {
    padding-top: 11px;
	font-size: small;
}
