<form class="import" action="/replays/add/{{id}}" method="post">
	<p>
		<label>Set URL: </label><input placeholder="https://dogars.ml/set/4" name="set"/><br/>
	</p>
	<p>
		<label><input type="submit"/></label>
	</p>
</form>
