<!-- has_prev required because of the fucked type system -->
{{#display_pages}}
	<div class="page_select">
		<div class="controls">
			<a href="/all?page=0">&#9198;</a>
			<a {{#has_prev}}href="/all?page={{prev}}"{{/has_prev}} {{^has_prev}}class="not-active"{{/has_prev}}>&#9204;</a>
			{{current_page}} / {{npages}}
			<a {{#next}}href="/all?page={{next}}"{{/next}} {{^next}}class="not-active"{{/next}}>&#9205;</a>
			<a href="/all?page={{lastpage}}">&#9197;</a>
		</div>
	</div>
{{/display_pages}}
{{#sets}}
	<h3><a href="/set/{{id}}">{{#name}}{{name}}{{/name}}{{^name}}{{species}}{{/name}}</a></h3>
	<img class="set-image {{#cust}}custom{{/cust}}" data-id="{{id}}" src="{{img_url}}"><br>
	{{#description}}Description: <div class="description">{{{description_html}}}</div><br>{{/description}}
	Date added: {{date}}<br/>
	{{#creator}}Creator: {{creator}}<br/>{{/creator}}
	{{#hash}}Tripcode: {{hash}}<br/>{{/hash}}
	Format: {{format}}<br/>
	<textarea class="set">{{set_form}}</textarea>
{{/sets}}
{{#display_pages}}
	<div class="page_select">
		<div class="controls">
			<a href="/all?page=0">&#9198;</a>
			<a {{#has_prev}}href="/all?page={{prev}}"{{/has_prev}} {{^has_prev}}class="not-active"{{/has_prev}}>&#9204;</a>
			{{current_page}} / {{npages}}
			<a {{#next}}href="/all?page={{next}}"{{/next}} {{^next}}class="not-active"{{/next}}>&#9205;</a>
			<a href="/all?page={{lastpage}}">&#9197;</a>
		</div>
	</div>
{{/display_pages}}
