<h2>Champs
	<select name="format" onchange="sortChamps.call(this);" name="crit" value="Sort by...">
		<option value="this.wins">Wins</option>
		<option value="this.losses">Losses</option>
		<option value="(this.wins / (this.losses ? this.losses : 1))">W/L Ratio</option>
		<option value="(this.wins + this.losses)">Total Battles</option>
		<option value="this.elo">ELO</option>
	</select>
</h2>
<div>
	<div class="champs">
		{{#champs}}
			<div class="champ">
				<img src="http://play.pokemonshowdown.com/sprites/trainers/{{avatar}}.png"/>
				<div class="cdata">
					<div class="cname">{{{name}}}</div>
					<div class="ctrip">{{trip}}</div>
				</div>
				<div class="winlosses">W/L: <i class="green">{{wins}}</i>/<i class="red">{{loses}}</i></div>
				{{#elo}}<div class="elo"><div>{{elo}}</div></div>{{/elo}}
			</div>
		{{/champs}}
	</div>
</div>
