<h2>Contact</h2>

You can anonymously contact me here.<br>

<form class="import" action="/contact" method="post">
	<label>Subject: </label><input placeholder="Can be empty..." type="text" name="sub"/>
	<label>Message: </label><textarea placeholder="Please do not be empty..." style="height: 151px;" name="com"></textarea>
	<input type="submit"/>
</form>
