<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js" integrity="sha256-OtCNGKLG9I6LCPo5i/79wMTEdzdYBvLJv6c8q8IW5Jk=" crossorigin="anonymous"></script>

<h2>Cringe Compilation</h2>

Snaps are added to this compilation whenever dogars-chan says
in chat she's adding something to her cringe compilation.

<div id="#cringe">
</div>

<script type="text/javascript" charset="utf-8" src="/cringe.js"></script>
