<form class="import" action="/add" method="post">
	<label>Set: </label><textarea style="height: 151px;" name="set"></textarea>
	<label>Description: </label><input type="text" name="desc"/>
	<label>Creator: </label><input name="creat"/>
	<label>Tripcode: </label><input name="trip"/>
	<label>Format: </label>
	<select name="format">
		<option value="gen7ou">gen7ou</option>
		<option value="gen7anythinggoes">gen7anythinggoes</option>
		<option value="ubers">ubers</option>
		<option value="uu">uu</option>
		<option value="ru">ru</option>
		<option value="nu">nu</option>
		<option value="pu">pu</option>
		<option value="lc">lc</option>
	</select>
	<input type="submit"/>
</form>
