<form class="import" action="/add" method="post">
	<label>Set: </label><textarea style="height: 151px;" name="set"></textarea>
	<label>Description: </label><input type="text" name="desc"/>
	<label>Creator: </label><input name="creat"/>
	<label>Tripcode: </label><input name="trip"/>
	<label>Format: </label>
	<select name="format">
		<option value="gen7ou">[Gen 7] OU</option>
		<option value="gen7ubers">[Gen 7] Ubers</option>
		<option value="gen7anythinggoes">[Gen 7] Anything Goes</option>
		<option value="gen7uu">[Gen 7] UU</option>
		<option value="gen7ru">[Gen 7] RU</option>
		<option value="gen7nu">[Gen 7] NU</option>
		<option value="gen7pu">[Gen 7] PU</option>
		<option value="gen7lc">[Gen 7] LC</option>
		<option value="gen7natureswap">[Gen 7] Nature Swap</option>
		<option value="gen7balancedhackmons">[Gen 7] Balanced Hackmons</option>
		<option value="gen7mixandmega">[Gen 7] Mix and Mega</option>
		<option value="gen7almostanyability">[Gen 7] Almost Any Ability</option>
		<option value="gen7camomons">[Gen 7] Camomons</option>
		<option value="gen7stabmons">[Gen 7] STABmons</option>
		<option value="gen7customgame">Disable checks</option>
	</select>
	<input type="submit"/>
</form>
