<h1>Welcome to the Meme Database</h1>
Simply, this is a place to submit and view meme sets. If you don't know what this is, lurk moar.

That's it. Now go find some memes.

<h1>Meme of the day</h1>
<h3><a href="/set/{{id}}">{{#name}}{{name}}{{/name}}{{^name}}{{species}}{{/name}}</a></h3>
<img src="http://play.pokemonshowdown.com/sprites/xyani{{#s}}-shiny{{/s}}/{{species_}}.gif"><br/>
{{#description}}Description: <div class="description">{{{description_html}}}</div><br>{{/description}}
Date added: {{date}}<br/>
{{#creator}}Creator: {{creator}}<br/>{{/creator}}
{{#hash}}Tripcode: {{hash}}<br/>{{/hash}}
Format: {{format}}<br/>
<textarea class="set">{{set_form}}</textarea>
