<h1>Today is dogars first anniversary!</h1>
<h1>Welcome to the Meme Database</h1>
Simply, this is a place to submit and view meme sets. If you don't know what this is, lurk moar.

That's it. Now go find some memes.

<h1>Submit a banner/custom set image</h1>
Double click any picture you see, and let yourself be guided.

<h1>Meme of the day</h1>
{{> set-base}}
<textarea class="set">{{set_form}}</textarea>
