<h3>Your set was rejected for the following reason(s):</h3>
{{{reason}}}<br><br><br>

Please check the formating, and validate your submission on showdown.<br>
And check if you've properly set the format.<br><br>
Redirecting to import page in 10 seconds...<br>
