<!-- Le lazy design -->
<h2>Automatically uploaded replays</h2>
{{#areplays}}
	<div class="replay">
		<a href="{{link}}">{{link}}</a>
		<p>{{{description}}}</p>
		<input type="button" value="Notable sets" onclick="unzip(this);"/>
		<div class="notable" style="display: none;">
			{{#memes}}
				{{> set-base}}
				<textarea class="set">{{set_form}}</textarea>
			{{/memes}}
			<h3><a href="/replays/add/{{id}}">Add another notable set</a></h3>
		</div>
	</div>
{{/areplays}}
