<h2>Advanced Search</h2>
<form class="search" action="/search" method="post">
	<div><input placeholder="Name" name="name"/> (<input placeholder="Species" name="species"/>)@<input placeholder="Item" name="item"/></div>
	<label>Ability: </label><input name="ability"/>
	<label>- </label><input name="move_1"/>
	<label>- </label><input name="move_2"/>
	<label>- </label><input name="move_3"/>
	<label>- </label><input name="move_4"/>

	<label>Creator: </label><input name="creator"/>
	<label>Tripcode: </label><input name="hash"/>
	<input type="submit">
</form>
