<h2>Advanced Search</h2>
<form action="/search" method="post">
	<input placeholder="Name" name="name"/> (<input placeholder="Species" name="species"/>) @ <input placeholder="Item" name="item"/><br>
	<label>Ability: </label><input name="ability"/><br>
	<label>- </label><input name="move_1"/><br>
	<label>- </label><input name="move_2"/><br>
	<label>- </label><input name="move_3"/><br>
	<label>- </label><input name="move_4"/><br>
	<input type="submit">
</form>
