<h3><a href="/set/{{id}}">{{#name}}{{name}}{{/name}}{{^name}}{{species}}{{/name}}</a></h3>
<img class="set-image {{#cust}}custom{{/cust}}" data-id="{{id}}" src="{{img_url}}"><br>
{{#description}}Description: <div class="description">{{{description_html}}}</div><br>{{/description}}
Date added: {{date}}<br>
{{#creator}}Creator: {{creator}}<br>{{/creator}}
{{#hash}}Tripcode: {{hash}}<br>{{/hash}}
Format: {{format}}<br>
<form action="/update/{{id}}" method="post">
	<textarea name="set" class="set">{{set_form}}</textarea><br>
	<div class="block">
		<label>Description: </label> <textarea style="width: 100%;" name="desc">{{description}}</textarea>
	</div>
	<div class="block">
		<label>Tripcode: </label><input type="text" name="trip"/>
	</div>
	<div class="block">
		<label>Format: </label> 
		<select name="format">
			<option value="gen7ou">gen7ou</option>
			<option value="gen7anythinggoes">gen7anythinggoes</option>
			<option	value="ubers">ubers</option>
			<option	value="uu">uu</option>
			<option	value="ru">ru</option>
			<option	value="nu">nu</option>
			<option	value="pu">pu</option>
			<option	value="lc">lc</option>
			<option	value="cap">cap</option>
		</select>
	</div>
	<input name="action" type="submit" value="Update"/>
	<input name="action" type="submit" value="Delete"/>
</form>
