<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dogars v2</title>
		<!-- I don't know what the fuck I'm even doing -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
		<link id="colorscheme" rel="stylesheet" href="/color{{style_suffix}}.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		{{#champ_active}}
			<a class="current" href="{{champ_battle}}">
				<img src="http://play.pokemonshowdown.com/sprites/trainers/{{avatar}}.png"/>
				<hr>
				<div>{{{champ_name}}}</div>			
				<div><b>{{champ_trip}}</b></div>			
			</a>
		{{/champ_active}}
		<div class="content">
			<img id="ban" class="banner" src="{{banner}}"/>
			<hr style="margin-bottom: -7px; z-index: 1;" class="style13">
			<form style="text-align: center;" action="/search" method="post">
				<input placeholder="Click here to Search..." autocomplete="off" name="q" id="search"/>
			</form>
			<hr style="margin-top: -7px;" class="style13b">
			<div class="nav">
				<a href="/">Home</a>
				<a href="/import">Import</a>
				<a href="/random">Random</a>
				<a href="/all">All</a>
				<a href="/fame">Wall Of Fame</a>
			</div>
			<hr class="style13">
			<div class="main">
				{{> content}}
			</div>
			<hr class="style13">
			<div class="footer">
				<div class="something-bigger">
					<div class="something">
						<a href="https://github.com/shoedrip-unbound/dogars"><i class="fa fa-fw fa-github-square"></i>Repository</a>
						<a href="mailto:shoedrip@dogars.ml"><i class="fa fa-fw fa-envelope"></i>Email</a>
					</div>
					<div class="vr"></div>
					<div class="something">
						<a href="/backup.sql"><i class="fa fa-fw fa-database"></i>Backup</a>
						<a href="/search"><i class="fa fa-fw fa-search"></i>Advanced Search</a>
					</div>
					<div class="vr"></div>
					<div class="something">
						<a href="/replays"><i class="fa fa-fw fa-repeat"></i>Replays</a>
						<a href="/champs"><i class="fa fa-fw fa-puzzle-piece"></i>Champs</a>
					</div>
				</div>
			</div>
			<audio id="lillie" hidden>
				<source src="/lillie.mp3" type="audio/mpeg">
			</audio>
			<audio id="moon" hidden>
				<!-- Please just pretend this is actually her -->
				<source src="/moon.mp3" type="audio/mpeg">
			</audio>
		</div>
		<img {{#waifu}}src="{{waifu}}"{{/waifu}}{{^waifu}} src="/lillie2.png"{{/waifu}} id="waifu"/>
		<script type="text/javascript" charset="utf-8" src="/main.js"></script>
	</body>
</html>
