<h2>Submit a new banner</h2>

Thank you for submitting a new banner.<br>
Keep in mind anything you send here is only a suggestion and won't necessairly be used if I personally judge the quality to be too low or something.<br>
But I'm not picky either, so you have a good chance of getting your suggestion in if it follows some simple rules.<br>
The banner must:
<ul>
	<li>be in PNG, JPG, or GIF format</li>
	<li>be exactly 800x200 pixels</li>
	<li>not weight a fuck ton (about 300kB for PNG and JPG banner, and 300kb for gif plus 100kB per second of animation, but these aren't hard limits)</li>
</ul>
<form action="/suggest" method="post" enctype="multipart/form-data">
	<p>
		<label>File: </label><input type="file" name="sugg"/><br/>
	</p>
	<p>
		<label><input type="submit"/></label>
	</p>
	<input name="type" type="hidden" value="banner"/>
</form>
